<IfModule mod_rewrite.c>
    RewriteEngine On 
    RewriteCond %{REQUEST_FILENAME} !-f 
    RewriteCond %{REQUEST_FILENAME} !-d 
    RewriteRule ^(.*)$ /eder/index.php/$1 [L] 

	#Redirección a login
	RedirectMatch 301 ^/eder/login$ http://localhost/eder/user/login
</IfModule>

<IfModule !mod_rewrite.c>
    ErrorDocument 404 /eder/index.php 
</IfModule>

<IfModule mod_php5.c>
	RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>

